* {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
}
body {
  background-color: black;
}
/* body {
  background-image: url("https://images.unsplash.com/photo-1564530629488-ce86e9ac4ae2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTgwOTN8MHwxfHNlYXJjaHwxOXx8amFpbHxlbnwwfHx8fDE2MTY5MDU2NTk&ixlib=rb-1.2.1&q=80&w=1080");
  background-repeat: no-repeat;
  background-size: cover;
}  */

.header {
  text-align: center;
  margin: 5px;
  font-size: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  /* box-shadow: lightslategray; */
  background-color: darkgrey;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 30%;
}
input {
  border-radius: 20px;
  margin: 10px;
  padding: 8px;
}
::placeholder {
  text-align: center;
}
#addBtn {
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 30px;
  background-color: black;
  color: red;
}
.editBtn {
  background-color: yellow;
  border-radius: 40px;
  padding: 5px;

}

h1 {
  font-size: 40px;
  margin: 5px;
}

.container {
  background-image: url("https://images.unsplash.com/photo-1564530629488-ce86e9ac4ae2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTgwOTN8MHwxfHNlYXJjaHwxOXx8amFpbHxlbnwwfHx8fDE2MTY5MDU2NTk&ixlib=rb-1.2.1&q=80&w=1080");
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  border-radius: 10px;
  padding-bottom: 50px;
}

.bounty {
  /* display: inline-flex;
  flex-direction: row;
  justify-content: center; */

  background-color: rgba(119, 136, 153, 0.885);
  text-align: center;
  /* width: 30%; */
  height: 130px;
  border-radius: 10px;
  color: black;
  padding: 10px;
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 40px;
}
.newB {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* margin-left: 20%; */
}
/* 
.bountyBtn {
  margin-left: 50%;
} */

.delBtn {
  background-color: red;
  color: whitesmoke;
  border-radius: 25px;
  padding: 4px;
}
#footer {
  text-align: center;
  margin-top: 10%;
}
